html {
    padding: 0;
    margin: 0;
}
* {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(243, 243, 243);
    color: #000000
}
a {
text-decoration: none;}
a:hover {
    color: rgb(27, 122, 255);
    cursor: pointer;
}
h3 {
    margin-left: 10px;
}
/* .flexWrapper {
    display: flex;
    flex-direction: column;
} */