html {
    padding: 0;
    margin: 0;
}
* {
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
    color: rgb(255, 213, 0);
}
a {
text-decoration: none;}
a:hover {
    color: white;
    cursor: pointer;

}
.flexWrapper {
    display: flex;
    flex-direction: column;
}